@import "/styles/variables.scss";
// searchbar section
.heroBottom {
	@extend .centerElements;
	width: 100%;
	height: 40%;
	form {
		width: 100%;
	}
	.searchBarContainer {
		border: 1px solid $success;
		color: $success;
		.searchBarIconContainer {
			//
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 5%;
			font-size: 1.5em;
		}
		.searchBarField {
			width: 95%;
			background-color: $dark;
			border: none;
			padding: 1em;
			padding-left: 0;
			color: $success;
			&::placeholder {
				color: $success;
			}
			&:focus {
				border: none;
				outline: none;
			}
		}
	}
}
